/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border-top: 8px solid #106c50;
  color: #34495e;
  font-family: 'Inter', sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  color: #106c50;
}

h2 {
  font-size: 30px;
  margin: 40px 0 24px;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 24px;
}

h4 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: justify;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1200px;
  display: grid;
  align-items: start;
  gap: 48px 64px;
  grid-template-columns: 1fr 280px;
}

.main-header {
  background-color: #f1f3f5;
  grid-column: 1 / -1;
  padding: 24px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-title {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.main-header-title svg {
  margin-right: 8px;
  width: 1.5em;
}

nav {
  font-size: 18px;
}

nav a:link,
nav a:visited {
  border-radius: 32px;
  border: 1px solid;
  color: #148761;
  display: inline-block;
  margin-right: 36px;
  padding: 4px 16px;
  text-align-last: center;
  text-decoration: none;
  width: 110px;
}

nav a:hover:not(.active-tab),
nav a:active {
  background-color: #d9480f;
  color: #e9e9ea;
  font-weight: bold;
}

nav a.active-tab {
  background-color: #148761;
  color: #e9e9ea;
  font-weight: bold;
}

nav a:last-child {
  margin-right: 0;
}

header h2 {
  margin-top: 0;
}

.post-image {
  border: 3px double #148761;
  height: auto;
  width: 100%;
}

ol,
ul {
  margin-bottom: 24px;
  margin-left: 48px;
}

li {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 16px;
}

li:last-child {
  margin-bottom: 0 !important;
}

a {
  color: #364fc7;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #fa5252;
}

ul li:hover::marker {
  color: #fa5252;
}

aside {
  background-color: #f1f3f5;
  border-bottom: 5px solid #148761;
  border-top: 5px solid #148761;
  padding: 48px 40px;
}

.related-list {
  list-style: none;
  margin: 0;
}

.related-list li {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

footer {
  grid-column: span 2;
}

.copyright {
  font-size: 16px;
  text-align: center;
}

.share {
  background-color: #f1f3f5;
  border-radius: 30px;
  border: 1px solid #495057;
  bottom: 50px;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
}

.share:hover {
  background-color: #495057;
  color: #f1f3f5;
}

.share svg {
  margin-right: 8px;
  height: 1em;
  width: 1em;
}
